# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
dev.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build artifacts
coverage/
dist/
build/

# Temporary
*.tmp
*.temp1800Soles_STP_Test_PassFail_Criteria_UPDATED.xlsx
